{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="cover-background">
        <!--to cover background image -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 id="product-text">Products</h2>
                <hr class="w-50 mb-1">
                <!--horizontal line-->
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <!-- sorting all the items but its price, rating, name, category-->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if sorting_all != 'None_None' %}info{% else %}black{% endif %}">
                                <!--reset to home product page if reset otherwise sorting by any other option-->
                                <option value="reset" {% if sorting_all == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if sorting_all == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if sorting_all == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if sorting_all == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if sorting_all == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if sorting_all == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if sorting_all == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if sorting_all == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if sorting_all == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            <!--In the Home Page won't show span name otherwise show number of products-->
                            {% if search_term or current_categories or sorting_all != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Coffeelicious Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <!-- for loop to add all product images-->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <!--for small and medium devices one image for each row,
                        for large devices three and for extra large four-->
                        <div class="card-shadow card h-100 rounded">
                            <!-- each item is a card created with bootstrap-->
                            {% if product.image %}
                            <a href="{% url 'product_description' product.id %}">
                                <!---product image here (if the image exist) -->
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_description' product.id %}">
                                <!--if the image does not exist then no image presented-->
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body  pb-0">
                                <!---product name here -->
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <!--product footer that includes price and rating-->
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                        <!--product price here-->
                                        {% if product.category %}
                                        <!--each product has a tag with the friendly name and url with a product specific name as a ref-->
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if product.rating %}
                                        <!-- if product price exists then shows rating-->
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                        <!-- otherwise there is not rating-->
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <!--for loop for each image it will implemented a horizontal line-->
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <!--for loop for every two images it will implemented a horizontal line-->
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <!--for loop for large devices it will implemented a horizontal line-->
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <!--for loop for extra large devices it will implemented a horizontal line-->
                            <hr>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}