{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--I have copied products html to create this template and modified it-->
    <div class="cover-background">
        <!--to cover background image -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2"> 
                <div class="image-container card-shadow my-5">
                    {% if product.image %}
                            <a href="{{ product.image.url }}"  target="_blank">
                                <!---product image here (if the image exist) -->
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <!--if the image does not exist then no image presented-->
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4"> 
                <!--product name and details-->
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="product-name mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="product-description mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}