{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--I have copied products html to create this template and modified it-->
    <div class="cover-background">
        <!--to cover background image -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2"> 
                <div class="image-container card-shadow my-5">
                    {% if product.image %}
                            <a href="{{ product.image.url }}"  target="_blank">
                                <!---product image here (if the image exist) -->
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <!--if the image does not exist then no image presented-->
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4"> 
                <!--product name and details-->
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="product-name mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.category %}
                    <!--each product has a tag with the friendly name and url with a product specific name as a ref-->
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="product-description mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_shopping_bag' product.id %}" method="POST">
                        <!-- adding products to the shopping bag-->
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <!--input group with the quantity of the products, value and product id-->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <!--to decrement the amount of a product with minus sign-->
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <!--number of items purchase by the customer from 1 to 99-->
                                        <input class="form-control qty_input" type="number"
                                        name="quantity" value="1" min="1" max="99" 
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <!--to increment the amount of a product with minus sign-->
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                        <!--arrow pointing to the left -->
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                    <!--go back to keep shopping -->
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                                <!--contains the submit button for the product -->
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <!--redirect the user back to the same page once the product has been purchased-->
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}


<!--JavaScript to change the amount of items to purchase using two button '+' or '-'-->
{% block postloadjs %}
<!---block wrapped to loaded on the base.html as well-->
{{ block.super }}
<!--block super to make sure we add this to anything already there-->
<script src="{% static 'js/product_description.js' %}" crossorigin="anonymous"></script>
<!---JavaScript file located in static folder, directory: static/js/product_description.js -->
{% endblock %}